body {
    text-align: center;
}

video {
    width: 0px;
    height: 0px;
}

table {
    width: auto;
    margin: auto;
}

tr, td {
    border: 0px;
    text-align: center; 
}

.navbar-dark.bg-dark {
    background-color: #0079bf; /* Couleur bleue spécifique de VMware */
}
